<!-- Generated template for the PlotComponent component -->
<gridster
  #gardenPlot
  [options]="gridsterOptions"
  [draggableOptions]="gridsterDraggableOptions"
  (optionsChange)="optionsChange($event)">
  <gridster-item
    class="draggable"
    gridsterItemPrototype
    *ngFor="let plant of plants"
    [options]="itemOptions"
    [dragAndDrop]="plant.dragAndDrop"
    [resizable]="plant.resizable"
    [(x)]="plant.x"
    [(y)]="plant.y"
    [(w)]="plant.w"
    [(h)]="plant.h"
    (enter)="over($event)"
    (out)="out($event)"
    (change)="itemChange($event, gardenPlot)">
    {{plant.title}}
  </gridster-item>
</gridster>

<ul>
  <li *ngFor="let plant of plants">
    <pre>{{plant | json}}</pre>
  </li>
</ul>
